body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 127, 140);
}

.heading {
    color: black;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 600;
    
}
.name {
    color: rgb(35, 35, 42);
    font-size: 26px;
    font-weight: 600;
    font-family: "Montserrat";
}
.todo {
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    
}
.check {
    height: 17px;
    width: 17px;
}
.todo-item {
    margin: 8px;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    padding-left: 3px;
}

